@import '../../../../styles/shared.scss';

.subscription {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i.icon {
    color: $brand-accent;
    text-shadow: 0 0 0 $brand-accent-dark;
  }

  .new-videos-count {
    color: $grey;
  }
}
