.rating {
  column-gap: 16px;
  display: inline-grid;
  grid: auto auto / max-content max-content;
  grid-row-gap: 4px;
}

.rating__icon {
  display: inline-flex;
  font-weight: 800;
  margin-right: 4px;
}

.rating__bar {
  background: rgba(50, 174, 232, .18);
  border-radius: 999px;
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
  height: 4px;
  overflow: hidden;
}

.rating__bar span {
  background: #32aee8;
  display: block;
  height: 100%;
}
