@import '../../styles/shared.scss';

.video-metadata {
    color: $grey;
    font-size: 16px;

    h3 {
        font-weight: 400;
        color: $text-color-dark;
    }

    .video-stats {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .video-actions {
            display: flex;
            align-items: center;

            .ui.button {
                color: $brand-primary-dark;

                &:hover,
                &:focus {
                    background: $brand-primary-soft;
                    color: $brand-primary-dark;
                }
            }

            & > *:not(:last-child) {
                margin-right: 8px;
            }
        }
    }
}
