@import '../../../styles/shared.scss';

.next-up-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  h4 {
    color: $text-color-dark;
  }

  .up-next-toggle {
    display: flex;
    align-items: center;

    span {
      color: $brand-primary-dark;
      margin-right: 10px;
    }
  }
}

.next-up-divider {
  border: none;
  border-top: 1px solid rgba(50, 174, 232, .18);
  margin: 14px 0;
}

