@import '../../styles/shared.scss';

$sidebar-hover-color: $brand-primary-soft;
.ui.menu.fixed.side-nav {
  background-color: $brand-primary-soft;
  box-shadow: inset -1px 0 0 rgba(50, 174, 232, 0.18);
  margin-top: $header-nav-height;
  overflow-y: auto;
  padding-bottom: $header-nav-height;

  .sidebar-item:hover {
    background: $sidebar-hover-color;
  }

  .subscription:hover {
    background: $sidebar-hover-color;
    cursor: pointer;
  }
}

.side-nav.ui.vertical.menu {
  width: $sidebar-left-width;
}
